body
{
	background-size: 1500px;
	height:400px;
}
#about
{
margin-top:50px;
	color:white;
	padding:20px;

}
#s
{
	color:black;
	margin-top:20px;
	text-align:center;
	font-family: Montserrat;
}
#i
{
	width:200px;
	height:55px;
	font-size:15px;
}
#u
{
	border: 2px solid black;
	width:300px;
}
.d
{
	color:black;
}
