body
{
	background-size:1500px;
}
#q
{
	text-align:center;
	color:white;
	font-family:Montserrat;
}
#h
{
	
	
	margin-right:200px;
	color:white;
	font-size:18px;
}
#w
{
	border: 2px dashed white;
	margin-left: 400px;
	margin-right: 400px;
}